html(lang="en")
    include includes/head.pug
    body
        include includes/messageMixin.pug
        #chatroom.container-fluid.d-flex.flex-column.align-items-center.p-5.pt-2
            h1 Chatroom
            #chat.w-100.flex-1.mb-2.border
                +message("Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere excepturi recusandae, voluptatum voluptas omnis possimus aspernatur hic quae aliquid at, cupiditate, architecto assumenda dicta. Error libero ducimus molestias sit.", "me")
                +message("Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere excepturi recusandae, voluptatum voluptas omnis possimus aspernatur hic quae aliquid at, cupiditate, architecto assumenda dicta. Error libero ducimus molestias sit.", "me", "me")
                +message("Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere excepturi recusandae, voluptatum voluptas omnis possimus aspernatur hic quae aliquid at, cupiditate, architecto assumenda dicta. Error libero ducimus molestias sit.", "me")
                +message("Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere excepturi recusandae, voluptatum voluptas omnis possimus aspernatur hic quae aliquid at, cupiditate, architecto assumenda dicta. Error libero ducimus molestias sit.", "me", "me")
            #type.w-100
                form(action="message" method="POST")
                    .form-group
                        button#message-send.btn.btn-primary(type="submit") Send Message 
                        textarea#message-input.form-control.border.bg-light(name="message", cols="30", rows="10")
        include includes/bootstrapScripts.pug
