html(lang="en")
    include includes/head.pug
    body
        include includes/messageMixin.pug
        #chatroom.container-fluid.d-flex.flex-column.align-items-center.p-5.pt-2
            h1 Chatroom
            #chat.w-100.flex-1.mb-2.border
            #type.w-100
                form(action="message" method="POST")
                    .form-group
                        button#message-send.btn.btn-primary(type="submit") Send Message 
                        textarea#message-input.form-control.border.bg-light(name="message", cols="30", rows="10")
        include includes/bootstrapScripts.pug
