html(lang="en")
    include includes/head.pug
    link(rel="stylesheet", href="../public/style.css")
    body
        .container-fluid.d-flex.flex-column.align-items-center
            h1.center Sign Up on Chatroom
            h3.mt-3 Sign Up
            form.w-25(action="/register", method="POST")
                .form-group
                    .username-group.mb-2
                        label(for="username") Username 
                        input.form-control#username(type="text", placeholder="Your username", name="username")
                    .password-group
                        label(for="password") Password 
                        input#password.form-control(type="password", name="password", placeholder="password")
                    div.d-flex.justify-content-center.mt-3
                        button#submit.btn.btn-primary.w-25(type="submit") Sign Up
            small.mt-1.form-text.text-muted Already have an account? 
                a(href="/") Sign In instead.
        include includes/bootstrapScripts.pug
